
{{ form_start(formTel) }}
<div class="form-group form-inline col-lg-12">
    <label class="col-lg-5 col-sm-5 text-right" style="color: #00bf00;font-size: 18px">
        Marque :
    </label>
    <div class="col-md-7 text-left">
        {{ form_row(formTel.Marque,{'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="form-group form-inline col-lg-12">
    <label class="col-lg-5 col-sm-5 text-right" style="color: #00bf00;font-size: 18px">
        Modele :
    </label>
    <div class="col-md-7 text-left">
        {{ form_row(formTel.Modele,{'attr':{'class':'form-control'}}) }}
    </div>
</div>
{{ form_end(formTel) }}