
{{ form_start(formT) }}
<div class="form-group form-inline col-lg-12">
    <label class="col-lg-5 col-sm-5 text-right" style="color: #00bf00;font-size: 18px">
        Type de Terrain :
    </label>
    <div class="col-md-7 text-left">
        {{ form_row(formT.TypeTerrains,{'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="form-group form-inline col-lg-12">
    <label class="col-lg-5 col-sm-5 text-right" style="color: #00bf00;font-size: 18px">
        Surface :
    </label>
    <div class="col-md-7 text-left">
        {{ form_row(formT.Surface,{'attr':{'class':'form-control'}}) }}
    </div>
</div>
{{ form_end(formT) }}