{% extends '::base.html.twig' %}

{% block body %}
    <div class="contenaire row" style="background-color: white;padding-top: 5%">
        <div class=" col-md-3 col-sm-3">
            <img src="{{ asset('test/images/icons/oops.png') }}">
        </div>
        <div class="error_page col-md-8" style="margin-top: 5%">
        Oops La Page auquel vous essayez d'accéder ne Correspond à aucune page sur Annonce
        <p><a href="{{ path('accueil') }}"> Clicker Ici Pour aller a la page d accueil !</a></p>
    </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

