<form class="form-wrapper-2 cf" method="POST" action="{{ path('Recherche') }}" >
    {{ form_widget(form.zone) }}
    {{ form_widget(form.categorie) }}
    {{ form_widget(form.titre) }}
    <button type="submit">Recherche</button>
</form>